/java/Clase 8/Persona.java/nbproject/private/
/java/Clase 8/Persona.java/build/
/java/Clase 8/ContextoEstatico/nbproject/private/
/java/Clase 8/ContextoEstatico/build/
/java/Clase 8/Persona/nbproject/private/
/java/Clase 8/Persona/build/
/java/Clase 10/SobrecargaMetodos/nbproject/private/
/java/Clase 10/Paquetes/nbproject/private/
/java/Clase 10/PalabraFinal/nbproject/private/
/java/Clase 10/PalabraFinal/build/
/java/Clase 10/Arreglos/nbproject/private/
/java/Clase 10/Arreglos/build/
/java/Clase 10/Matrices/nbproject/private/
/java/Clase 10/Matrices/build/
/java/Clase 12/Ventas/nbproject/private/
/java/Clase 12/Ventas/build/
